In [1]:
import pandas as pd
import numpy as np
import wrangle
import prepare
import model
import matplotlib.pyplot as plt
from pydataset import data

# modeling methods
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures

import warnings
warnings.filterwarnings("ignore")

# Exercises

- Do your work for this exercise in a jupyter notebook named modeling within the regression-exercises repo. Add, commit, and push your work.

1. Select a dataset with a continuous target variable.

In [2]:
df = data('iris')
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

2. Be sure your data is prepared (no missing values, numeric datatypes) and split into samples.

In [3]:
df.isna().sum()

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

3. Work through all of the steps outlined in the lesson, from setting the baseline to selected a model and evaluating the final model on your test data.

In [4]:
train, val, test = prepare.train_val_test(df)
train.shape, val.shape, test.shape

((105, 5), (22, 5), (23, 5))

Scale before splitting

In [5]:
to_scale = ['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width']
train, val, test = wrangle.scale_data(train, val, test, to_scale)
train.head()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
82       0.352941     0.181818      0.464286     0.375000  versicolor
134      0.588235     0.363636      0.714286     0.583333   virginica
138      0.617647     0.500000      0.785714     0.708333   virginica
76       0.676471     0.454545      0.589286     0.541667  versicolor
110      0.852941     0.727273      0.892857     1.000000   virginica

In [6]:
X_train, y_train = wrangle.xy_split(train, 'Species')
X_val, y_val = wrangle.xy_split(val, 'Species')

In [7]:
X_train.shape, X_val.shape

((105, 4), (22, 4))

Same Shape!

In [8]:
X_train = pd.get_dummies(X_train)
X_val = pd.get_dummies(X_val)
X_train.shape, X_val.shape

((105, 4), (22, 4))

In [10]:
X_train.head()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
82       0.352941     0.181818      0.464286     0.375000
134      0.588235     0.363636      0.714286     0.583333
138      0.617647     0.500000      0.785714     0.708333
76       0.676471     0.454545      0.589286     0.541667
110      0.852941     0.727273      0.892857     1.000000

In [9]:
# df = df.iloc[:,:-2]
# df.head()


## Notes

1
 Regularization = "Regularizations are techniques used to reduce the error by fitting a function appropriately on the given training set and avoid overfitting." Towards Data Science

2
 TweedieRegressor: Requires sklearn v0.23 or greater installed. To update, run in terminal: conda install scikit-learn=0.23