In [4]:
# imported libs for scaling
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.model_selection import train_test_split

#custom import

import wrangle

# Exercises

* Do your work for these exercises in a jupyter notebook named scaling. Use the zillow dataset you acquired and prepped in previous lesson. Once you are finished, you may wish to repeat the exercises on another dataset for additional practice.

In [6]:
# importing wrangles data

df = wrangle.wrangle_zillow()

In [7]:
df.head()

   bedrooms  bathrooms  area  tax_value  year_built  tax_amount  fips
0         4        2.0  3633     296425        2005     6941.39  6037
1         3        4.0  1620     847770        2011    10244.94  6037
2         3        2.0  2077     646760        1926     7924.68  6037
3         0        0.0  1200       5328        1972       91.60  6037
4         0        0.0   171       6920        1973      255.17  6037

* Apply the scalers we talked about in this lesson to your data and visualize the results for the unscaled and scaled distribution.

* Apply the .inverse_transform method to your scaled data. Is the resulting dataset the exact same as the original data?

* Read the documentation for sklearn's QuantileTransformer. Use normal for the output_distribution and apply this scaler to your data. Visualize the result of your data scaling.

* Use the QuantileTransformer, but omit the output_distribution argument. Visualize your results. What do you notice?

* Based on the work you've done, choose a scaling method for your dataset. Write a function within your prepare.py that accepts as input the train, validate, and test data splits, and returns the scaled versions of each. Be sure to only learn the parameters for scaling from your training data!